.comments {
	h2 {
		font-size: 2.75rem;
		margin-top: 2.5rem;
		margin-bottom: 1rem;
		line-height: 1.2;
	}

	ul {
		li {
			margin-bottom: 5rem;

			hr {
				margin-bottom: 5rem;
				margin-top: 5rem;
			}
		}
	}
}
