.container {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.postinfo {
		background-color: red;

		div {
			h3 {
				a {
					text-decoration: none;
					color: black;
				}
			}
		}

		div {
			p {
			}
		}
	}
}
