.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	.coverimage {
	}

	.postinfo {
		div {
			h3 {
				a {
					text-decoration: none;
					color: black;
				}
			}
		}

		div {
			p {
			}
		}
	}
}
