.markdown {
	font-size: 1rem;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	font-style: italic;
	font-weight: 100;
}

.markdown h2 {
	font-size: 1.5em;
	font-weight: bolder;
}

.markdown h3 {
	font-size: 1.17em;
	font-weight: bolder;
}
