.wrapper {
	display: flex;
	align-items: center;

	.switch {
		display: inline-block;
		height: 34px;
		position: relative;
		width: 60px;

		.input {
			display: none;
			background: none;
		}

		input[type="checkbox"] {
			visibility: hidden;
		}

		.slider {
			background-color: #121212;
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: 0.4s;
			border-radius: 9999999px;

			&:before {
				background-color: #fff;
				border-radius: 9999999px;
				bottom: 4px;
				content: "";
				height: 26px;
				left: 4px;
				position: absolute;
				transition: 0.4s;
				width: 26px;
			}
		}
	}

	input:checked + .slider {
		background-color: #ccc;
	}

	input:checked + .slider:before {
		transform: translateX(26px);
	}
}
