.container {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.coverimage {
		img {
			width: 100%;
		}
	}

	.postinfo {
		div {
			h3 {
				a {
					text-decoration: none;
				}
			}
		}
	}
}
